@-webkit-keyframes loading {
  50% {
    transform: scale(0.4);
    opacity: .4;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.loading {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.loading i {
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #333;
  position: absolute;
}
.loading i:nth-child(1) {
  top: 11px;
  left: 0;
  -webkit-animation: loading 1s ease 0s infinite;
}
.loading i:nth-child(2) {
  top: 8px;
  left: 8px;
  -webkit-animation: loading 1s ease -0.12s infinite;
}
.loading i:nth-child(3) {
  top: 0px;
  left: 11px;
  -webkit-animation: loading 1s ease -0.24s infinite;
}
.loading i:nth-child(4) {
  top: -8px;
  left: 8px;
  -webkit-animation: loading 1s ease -0.36s infinite;
}
.loading i:nth-child(5) {
  top: -11px;
  left: 0;
  -webkit-animation: loading 1s ease -0.48s infinite;
}
.loading i:nth-child(6) {
  top: -8px;
  left: -8px;
  -webkit-animation: loading 1s ease -0.6s infinite;
}
.loading i:nth-child(7) {
  top: 0px;
  left: -11px;
  -webkit-animation: loading 1s ease -0.72s infinite;
}
.loading i:nth-child(8) {
  top: 8px;
  left: -8px;
  -webkit-animation: loading 1s ease -0.84s infinite;
}
.main {
  padding: 60px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
}
.main .info {
  flex: 0 0 600px;
}
.main .info ul {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.main .info ul li {
  flex: 1;
  height: 230px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-direction: column;
  padding-top: 40px;
  background: #fafafa;
}
.main .info ul li span {
  margin: 25px 0 17px;
  font-size: 16px;
  color: #999999;
  line-height: 1;
  font-weight: 400;
}
.main .info ul li p {
  font-size: 16px;
  color: #333333;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
}
.main .info ul li div {
  width: 160px;
  height: 38px;
  cursor: pointer;
  text-align: center;
  background: #ad0015;
  font-size: 14px;
  color: #fffefe;
  line-height: 38px;
  font-weight: 400;
}
.main .info ul li + li {
  margin-left: 8px;
}
.main .formBox {
  flex: 0 0 510px;
  border: solid 1px #cccccc;
  padding: 43px 0 50px;
}
.main .formBox .formTit {
  text-align: center;
}
.main .formBox .formTit h4 {
  font-size: 24px;
  color: #111111;
  line-height: 1;
  font-weight: 400;
}
.main .formBox .formTit p {
  font-size: 12px;
  color: #999999;
  line-height: 1;
  font-weight: 400;
  margin: 25px 0;
}
.main .formBox .form {
  padding: 0 50px;
}
.main .formBox .form .tips {
  font-size: 12px;
  color: #ad0015;
  line-height: 1;
  font-weight: 400;
}
.main .formBox .form ul {
  margin-top: 12px;
}
.main .formBox .form ul li {
  background: rgba(234, 234, 234, 0.26);
  border: 1px solid #cccccc;
  padding: 10px 17px;
}
.main .formBox .form ul li input,
.main .formBox .form ul li textarea {
  width: 100%;
  background: transparent;
  resize: none;
  font-size: 14px;
  color: #333333;
  line-height: 1;
  font-weight: 400;
}
.main .formBox .form ul li input::-webkit-input-placeholder,
.main .formBox .form ul li textarea::-webkit-input-placeholder {
  color: #999;
}
.main .formBox .form ul li + li {
  margin-top: 35px;
}
.main .formBox .form ul .submit {
  width: 230px;
  height: 38px;
  cursor: pointer;
  margin-top: 27px;
  background: #ad0015;
  text-align: center;
  font-size: 14px;
  color: #fffefe;
  line-height: 38px;
  font-weight: 400;
}
.foot .bottom {
  text-align: center;
  padding: 10px 0 20px;
  background: #151515;
  font-size: 13px;
  color: #606060;
  line-height: 30px;
}
.cnzz {
  font-size: 12px;
}
