.service{
  background: #f6f7f9;
}
.service .container{
  display: flex;
  height: 176px;
  align-items: center;
}
.service .explain{
  flex: 0 0 240px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #111111;
  margin-right: 114px;
}
.service .explain p{
  font-size: 30px;
}
.service .explain span{
  font-size: 6px;
  margin: 13px 0 11px;
}
.service .explain h4{
  font-size: 20px;
  font-weight: 600;
}
.service ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.service ul li{
  text-align: center;
  font-size: 16px;
  color: #111;
}
.service ul li p{
  margin-top: 18px;
}
.consult{
  margin-top: 40px;
}
.consult ul{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 125px;
}
.consult ul li{
  border: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  height: 100%;
  width: 300px;
}
.consult ul li .left{
  flex: 0 0 74px;
  border-right: 1px solid #e6e6e6;
  background: #f6f7f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.consult ul li .left img{
 /* width: 30px;
  height: 44px;*/
  object-fit: cover;
}
.consult ul li .right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  height: 100%;
}
.consult ul li .right p{
  font-size: 16px;
  color: #111;
  margin-bottom: 8px;
}
.consult ul li .right .consultList{
  /*display: flex;*/
  justify-content: space-between;
  flex-wrap: wrap;
}
.consultList a{
  width: 60px;
  font-size: 14px;
  color: #999;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.title{
  text-align: center;
  color: #111;
  padding-top:30px;
}
.title h4{
  font-size: 26px;
  font-weight: bold;
}
.title .line{
  width: 43px;
	height: 2px;
	background-color: #999999;
  margin: 12px auto 16px;
}
.title p{
  font-size: 22px;
  font-weight: bold;
}
.appraisal{
  margin-top: 50px;
}
.appraisal .view{
  margin-top: 30px;
  height: 260px;
  background: url('../img/jdgjbg.jpg') no-repeat center center/100% 100%;
  padding-left: 40px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.appraisal .view .left h4{
  font-size: 16px;
  color: #fff;
  text-align: center;
}
.appraisal .view .left p{
  font-size: 14px;
  color: #ccc;
  line-height: 20px;
  margin: 24px 0 22px;
}
.appraisal .view .left a{
  display: block;
  width: 230px;
	height: 40px;
	background-color: #f6f7f9;
	border-radius: 20px;
	border: solid 1px #666666;
  text-align: center;
  font-size: 14px;
  color: #111;
  line-height: 40px;
}
.appraisal .view .right{
  display: flex;
  margin-left: 35px;
}
.appraisal .view .right li{
  width: 160px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6f7f9;
}
.appraisal .view .right li+li{
  margin-left: 10px;
}
.appraisal .view .right li img{
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.appraisal .view .right li p{
  font-size: 16px;
  color: #1d1d1d;
  margin: 22px 0 8px;
}
.appraisal .view .right li span{
  font-size: 14px;
  color: #999999;
}
.advance{
  padding: 37px 0 70px;
  background: #f6f7f9;
}
.advance .one{
  margin-top: 56px;
}
.advance ul{
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.advance ul li{
  width: 560px;
  height: 140px;
  margin-top: 40px;
  padding-left: 28px;
  background: #f3f3f3;
  border: 1px solid #36322f;
  border-radius: 10px;
  display: flex;
  align-items: center;
  transition: all .5s;
  cursor: pointer;
}
.advance ul li:hover{
  transform: translateY(-15px);
  transition: all .5s;
}
.advance ul li .text{
  margin-left: 32px;
}
.advance ul li h4{
  font-size: 18px;
  color: #36322f;
  font-weight: bold;
  margin-bottom: 20px;
}
.advance ul li p{
  font-size: 15px;
  color: #666;
  line-height: 20px;
}
.special{
  margin-top: 44px;
}
.special .showList{
  display: flex;
  margin-top: 30px;
}
.special .showList li{
  flex:1;
}
.showList li+li{
  margin-left: 20px;
}
.special .showList li>img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.special .showList li .text{
  border: 1px solid #ccc;
  border-top: none;
  padding:27px 42px 42px 22px;
}
.showList li .text .top,.showList li .text .bottom{
  display: flex;
  align-items: center;
}
.showList li .text .top h4{
  font-size: 18px;
  color: #111;
}
.showList li .text .top a{
  margin-left: auto;
  width: 150px;
  height: 32px;
  text-align: center;
  background: #111;
  font-size: 14px;
  color: #fff;
  line-height: 32px;
}
.showList li .text .bottom{
  margin-top: 20px;
  font-size: 14px;
  color: #999;
}
.showList li .text .bottom .share{
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.showList li .text .bottom .end{
  display: flex;
  align-items: center;
  margin-left: auto;
  color: #666;
}
.end div{
  width: 32px;
  height: 36px;
  background: #f5f5f5;
  text-align: center;
  font-size: 18px;
  color: #ad0015;
  line-height: 36px;
}
.end span{
  color: #333;
}
.recommend{
  margin-top: 54px;
  padding-bottom: 50px;
}
.recommend .tabs{
  margin: 38px 0 40px;
}
.recommend .tabs ul{
  display: flex;
  width: calc(150px*5);
  margin: 0 auto;
}
.recommend .tabs ul li{
  border: 1px solid #c5c5c5;
  width: 150px;
  height: 50px;
  text-align: center;
  font-size: 16px;
  color: #666;
  line-height: 50px;
  cursor: pointer;
}
.recommend .tabs ul li+li{
  border-left: none;
}
.recommend .tabs ul li:hover{
  background: #111;
  border: none;
  color:#fff;
}
.recommend .tabs ul li.active{
  background: #111;
  border: none;
  color:#fff;
}
.recommend .list ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.recommend .list ul li{
  width: 280px;
  text-align: center;
  margin-bottom: 10px;
}
.recommend .list ul li img{
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.recommend .list ul li p{
  width: 100%;
  font-size: 16px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 20px 0 10px;
}
.recommend .list ul li span{
  font-size: 14px;
  color: #666;
}
.form{
  padding: 37px;
  background: url('../img/formBg.png') no-repeat center center/100% 100%;
}
.form p{
  font-size: 21px;
  color: #fff;
  margin-bottom: 25px;
}
.form span{
  font-size: 14px;
  color: #ccc;
}
.form .formWrap{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formWrap .formItem{
  flex: 0 0 20%;
	height: 40px;
	border-radius: 4px;
	border: solid 1px rgba(204,204,204,.5);
  display: flex;
  align-items: center;
  padding: 0 12px;
}
.formItem label{
  font-size: 16px;
  color: #ccc;
}
.formItem input{
  width: 70%;
  background: transparent;
  font-size: 16px;
  color: #ccc;
}
.formWrap .des{
  flex: 0 0 28%;
}
.submit{
  flex: 0 0 230px;
  height: 40px;
  background: #ad0015;
  text-align: center;
  font-size: 16px;
  color: #ffdede;
  line-height: 40px;
}
.market{
  padding: 62px 0;
  background: #f6f7f9;
}
.marketDetaile{
  margin-top: 75px;
  display: flex;
  position: relative;
}
.marketDetaile img{
  width: 360px;
  height: 360px;
  object-fit: cover;
}
.marketDetaile .right{
  margin-left: 70px;
  flex:1;
}
.marketDetaile .right .menu ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #111;
}
.marketDetaile .right .marketList{
  margin-top: 50px;
  height: 290px;
}
.marketDetaile .right .marketList .swiper-slide{
  color: #666;
  cursor: pointer;
}
.marketDetaile .right .marketList .swiper-slide-active{
  color: #a70000;
}
.marketDetaile .right .marketList ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
.marketDetaile .right .marketList ul li:first-child{
  width: 144px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.marketDetaile .right .marketList ul li:nth-child(n+3){
  width: 150px;
}
.news{
  padding: 40px 0 60px;
  display: flex;
}
.news .newsTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.news .newsTitle h4{
  font-size: 18px;
  font-weight: bold;
  color: #111;
}
.news .newsTitle a{
  font-size: 12px;
  color: #111;
}
.news .left .wrap{
  display: flex;
}
.news .left .wrap .imgBox .top{
  width: 340px;
  height: 200px;
  position: relative;
}
.news .left .wrap .imgBox .top>img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.leftBtn,.rightBtn{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 23px;
  height: 46px;
  z-index: 10;
  cursor: pointer;
}
.leftBtn{
  left: 0;
}
.rightBtn{
  right: 0;
}
.news .left .wrap .imgBox .bottom{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news .left .wrap .imgBox .bottom a{
  width: 164px;
}
.news .left .wrap .imgBox .bottom img{
  width: 100%;
  height: 154px;
  object-fit: cover;
}
.news .left .wrap .imgBox .bottom p{
  width: 100%;
  font-size: 14px;
  color: #111;
  margin-top: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.articList{
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.articList li{width: 340px;}
.articList li h4{
  font-size: 16px;
  color: #111;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.articList li span{
  font-size: 12px;
  color: #999;
}
.articList li p{
  font-size: 12px;
  color: #999;
  line-height: 20px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.news .right{
  margin-left: 24px;
  padding-left: 24px;
  border-left: 1px solid #e6e6e6;
  width: 455px;
}
.news .newsList li:first-child{
  display: flex;
  width: 100%;
  margin-bottom: 40px;
}
.news .newsList li:first-child img{
  width: 170px;
  height: 110px;
  object-fit: cover;
  margin-right: 22px;
}
.news .newsList li:first-child h4{
  width: 239px;
  font-size: 16px;
  color: #111;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}
.news .newsList li:first-child span{
  font-size: 12px;
  color: #999;
}
.news .newsList li:first-child p{
  width: 100%;
  font-size: 12px;
  color: #999;
  line-height: 20px;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
}
.news .newsList li:nth-child(n+2){
  width: 431px;
  padding-left: 16px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.news .newsList li:nth-child(n+2)::before{
  content: "·";
  font-size: 12px;
  color: #999;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.news .newsList li:nth-child(n+2) p{
  font-size: 14px;
  color: #111;
  flex: 0 0 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.news .newsList li:nth-child(n+2) span{
  font-size: 12px;
  color: #999;
}
.news .newsList li:nth-child(n+3){
  margin-top: 24px;
}
.partners{
  padding-bottom: 60px;
}
.partners .partnerList{
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.partners .partnerList a{
  /*width: 200px;
  height: 80px;*/
}
.partners .partnerList a img{
 /* width: 100%;
  height: 100%;
  object-fit: cover;*/
}
.more {
  width: 150px;
  height: 40px;
  margin: 20px auto;
  background: #999;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
  line-height: 40px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}
.more:hover {
  background: #e40000;
}
