html,body{
   margin:0;
   padding:0;
   font-family: "微软雅黑";
   width: 100%;
   height：100%；
}
p,h1,h2,h3,h4{
   -webkit-margin-before: 0em;
   -webkit-margin-after: 0em;
}
@media (max-width:320px){html{font-size:8.5px;}}
@media (min-width:321px) and (max-width:375px){html{font-size:10px;}}
@media (min-width:376px) and (max-width:414px){html{font-size:12px;}}
@media (min-width:415px) and (max-width:639px){html{font-size:14px;}}
@media (min-width:640px) and (max-width:719px){html{font-size:16px;}}
@media (min-width:720px) and (max-width:749px){html{font-size:18px;}}
@media (min-width:750px) and (max-width:767px){html{font-size:20px;}}
@media (min-width:768px) and (max-width:799px){html{font-size:20.48px;}}
@media (min-width:800px){html{font-size:27px;}}
.header{
    width:100%;
    background-color:rgba(7,17,27,0.5);
    position:fixed;
    top:0;
    left:0;
    z-index:10;
    display: inline-flex;
    flex-direction:column;
}
.blur1{
    width:100%;
    height:13.4rem;
    position:fixed;
    top:0;
    left:0;
    filter:blur(10px);
    -webkit-filter:blur(10px);
    z-index:9;
}
.box1{
    width:100%;
    display: inline-flex;
    position:relative;
}
.box1>img{
    width: 6.4rem;
    height: 6.4rem;
    border-radius:0.2rem;
    margin:2.4rem 0 1.8rem 2.4rem;
}
.box1_1{
    margin:2.6rem 0 1.8rem 1.6rem;
    display: inline-flex;
    flex-direction:column;
}
.box1_1_1{
    display: inline-flex;
}
.box1_1_1>img{
    width:3rem;
    height:1.8rem;
}
.box1_1_1>p{
    margin-left:0.6rem;
    line-height: 1.8rem;
    font-size: 1.6rem;
    color: rgb(255,255,255);
    font-weight: bold;
}
.box1_1>p{
    margin-top:0.8rem;
    margin-bottom:1rem;
    font-weight:200;
    line-height:1.2rem;
    font-size:1.2rem;
    color:rgb(255,255,255);
}
.box1_1_2{
    display: inline-flex;
}
.box1_1_2>img{
    width: 1.2rem;
    height: 1.2rem;
}
.box1_1_2>p{
    margin-left:0.4rem;
    font-weight:200;
    line-height:1.2rem;
    font-size:1rem;
    color:rgb(255,255,255);
}
.mor{
    position:absolute;
    right: 1.2rem;
    bottom:1.8rem;
    width: 4rem;
    height: 2.4rem;
    border-radius:1.5rem;
    background-color:rgba(0,0,0,0.2);
    font-size:1rem;
    color:rgb(255,255,255);
    font-weight:200;
    line-height:2.4rem;
}
.mor:first-letter{
    margin-left:0.8rem;
}
.box2{
    width:100%;
    background-color:rgba(7,17,27,0.2);
    display: inline-flex;
}
.box2>img{
    width:2.2rem;
    height:1.2rem;
    margin-top:0.8rem;
    margin-left:1.2rem;
}
.box2>p:first-of-type{
    width:31rem;
    margin-left:0.4rem;
    font-weight:200;
    line-height:2.8rem;
    font-size:1rem;
    color:rgb(255,255,255);
    float:left;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.box2>p:last-of-type{
    margin-left:0.4rem;
    font-weight:200;
    line-height:2.8rem;
    font-size:1rem;
    color:rgb(255,255,255);
}
.banner{
    width:100%;
    height:4rem;
    background-color:white;
    outline:0.1rem solid rgba(7,17,27,0.1);
    position:fixed;
    top: 13.4rem;
    left:0;
    z-index:10;
}
.banner>div.swiper-pagination{
    width:100%;
    height:100%;
    display: inline-flex;
    justify-content: space-around;
}
.banner p.swiper-pagination-bullet{
    line-height:1.4rem;
    font-size:1.4rem;
    color:rgb(77,85,93);
    margin-top:1.3rem;
    cursor: auto;
    width:auto;
    height: auto;
    border-radius:0;
    background:#fff;
    opacity:1;
}
.banner p.swiper-pagination-bullet-active{
    color:rgb(240,20,20);
    background:#fff;
}
.home.swiper-container{
    margin-top:17.5rem;
}
.shop.swiper-slide{
    width:100%;
    display: inline-flex;
}
.menu.swiper-container{
    display: inline-flex;
    flex-direction:column;
    background-color: #f3f5f7;
}
.menu>div div{
    width:5.6rem;
    height:5.4rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-left:1.2rem;
    margin-right:1.2rem;
    border-bottom: 0.05rem solid rgba(7,17,27,0.1);
}
.menu>div p{
    font-size:1.2rem;
    color:rgb(77,85,93);
    font-weight:200;
    line-height:1.4rem;
}
.menu>div img{
    width:1.2rem;
    height:1.2rem;
}
.sw1>div.menu_on{
    width: 8rem;
    margin:0;
    background-color:#fff;
    border:none;
}
.sw1>div p.menu_on{
    margin-left:1.2rem;
    margin-right:1.2rem;
}
.content.swiper-container{
    width: 29.5rem;
    display: inline-flex;
    flex-direction:column;
}
.goods{
    height:auto;
    width:100%;
    display: inline-flex;
    flex-direction:column;
}
.tittle{
    width:29.35rem;
    background-color: #f3f5f7;
    border-left:0.15rem solid #d9dde1;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.tittle p{
    font-size:1.2rem;
    color:rgb(147,153,159);
    line-height:2.6rem;
    margin-left:1.4rem;
}
.foods{
    margin:1.8rem;
    display: inline-flex;
    border-bottom: 0.05rem solid rgba(7,17,27,0.1);
}
.foods>img{
    width:5.7rem;
    height:5.7rem;
}
.foods_1{
    margin:0.2rem 0 0 1rem;
    display: inline-flex;
    flex-direction: column;
}
.foods_1>p{
    font-size:1.4rem;
    color:rgb(7,17,27);
    line-height:1.4rem;
}
.foods_1>span{
    margin-top:0.8rem;
    font-size:1rem;
    color:rgb(147,153,159);
    line-height:1rem;
}
.foods_2{
    margin-top:0.8rem;
    display: inline-flex;
}
.foods_2 p{
    font-size:1rem;
    color:rgb(147,153,159);
    line-height:1rem;
}
.foods_2 p:last-child{
    margin-left:1.2rem;
}
.foods_3{
    width:19.2rem;
    margin-bottom:1.8rem;
    display: inline-flex;
    justify-content:space-between;
}
.foods_4{
    display: inline-flex;
}
.foods_4 p{
    font-size:1rem;
    color:rgb(147,153,159);
    line-height:2.4rem;
}
.foods_4 p:first-child{
    font-size:1.4rem;
    color:rgb(240,20,20);
    font-weight:bold;
}
.foods_4 p:first-child:first-letter{
    font-size:1rem;
    font-weight:normal;
}
.foods_4 p:nth-child(2){
    margin-left:0.8rem;
    text-decoration:line-through;
}
.foods_5{
    display: inline-flex;
}
.miu{
    width:2.4rem;
    height:2.4rem;
    margin-top:0.2rem;
    display:none;
}
.num{
    margin-top:0.2rem;
    width: 2.4rem;
    text-align: center;
    font-size:1rem;
    color:rgb(147,153,159);
    line-height:2.4rem;
    display:none;
}
.add{
    margin-top:0.2rem;
    width:2.4rem;
    height:2.4rem;
}
.commend.swiper-slide{
    width:100%;
}
.sw5>div.swiper-slide{
    height: auto;
}
.c1{
    width:100%;
    display: inline-flex;
}
.c1_1{
    width: 13.75rem;
    margin:1.8rem 0;
    border-right:0.05rem solid rgba(7,17,27,0.1);
    display: inline-flex;
    flex-direction:column;
}
.c1_1 h1{
    font-size:2.4rem;
    font-weight:normal;
    color:rgb(255,153,0);
    line-height:2.8rem;
    align-self:center;
}
.c1_1 h2{
    margin-top:0.6rem;
    font-weight:normal;
    font-size:1.2rem;
    color:rgb(7,17,27);
    line-height:1.2rem;
    align-self:center;
}
.c1_1 h3{
    margin-top:0.8rem;
    margin-bottom:0.6rem;
    font-size:1rem;
    font-weight:normal;
    color:rgb(147,153,159);
    line-height:1rem;
    align-self:center;
}
.c1_2{
    margin:1.8rem 0 1.8rem 2.4rem;
    width: 23.7rem;
    display: inline-flex;
    flex-direction:column;
}
.c1_2>div:nth-child(2){
    margin-top:0.8rem;
}
.c1_2_1{
    display: inline-flex;
}
.c1_2_1 p:first-child{
    font-size:1.2rem;
    color:rgb(7,17,27);
    line-height:1.8rem;
}
.c1_2_1>div{
    margin-left:1.2rem;
    display: inline-flex;
}
.c1_2_1>div img{
    width:1.5rem;
    height: 1.45rem;
}
.c1_2_1 p:last-child{
    margin-left:1.2rem;
    font-size:1.2rem;
    color:rgb(255,153,0);
    line-height:1.8rem;
}
.c1_2_2{
    margin-top:0.8rem;
    display: inline-flex;
}
.c1_2_2 p:first-child{
    font-size:1.2rem;
    color:rgb(7,17,27);
    line-height:1.8rem;
}
.c1_2_2 p:last-child{
    margin-left:1.2rem;
    font-size:1.2rem;
    color:rgb(147,153,159);
    line-height:1.8rem;
}
.commend_con>div:nth-child(3)>div>div{
    margin-top:0;
}
.com_con{
    width:100%;
    display: inline-flex;
    flex-direction:column;
}
.c2{
    width:100%;
}
.c2_con{
    margin:1.8rem 1.8rem 0 1.8rem;
    display: inline-flex;
    border-bottom:0.05rem solid rgba(7,17,27,0.1);
}
.c2_con>img{
    width:2.8rem ;
    height: 2.8rem;
    border-radius:50%;
}
.c2_1{
    margin-left:1.2rem;
    margin-bottom:1.8rem;
    display: inline-flex;
    flex-direction:column;
}
.c2_1_1{
    width: 29.9rem;
    display: inline-flex;
    justify-content:space-between;
}
.c2_1_1 p:first-child{
    font-size: 1rem;
    color:rgb(7,17,27);
    line-height:1.2rem;
}
.c2_1_1 p:last-child{
    font-size: 1rem;
    font-weight:200;
    color:rgb(147,153,159);
    line-height:1.2rem;
}
.c2_1_2{
    margin-top:0.4rem;
    display: inline-flex;
}
.c2_1_2>div{
    display: inline-flex;
}
.c2_1_2 img{
    width:1rem;
    height: 0.95rem;
}
.c2_1_2 p{
    margin-left:0.6rem;
    font-size: 1rem;
    font-weight:200;
    color:rgb(147,153,159);
    line-height:1.2rem;
}
.c2_1>p{
    margin-top:0.6rem;
    font-size:1.2rem;
    color:rgb(7,17,27);
    line-height:1.8rem;
}
.c2_1_4{
    margin-top:0.8rem;
    display: inline-flex;
}
.c2_1_4 img{
    margin-top:0.4rem;
    width:1.2rem;
    height: 1rem;
}
.recom{
    width:24rem;
}
.recom span{
    float:left;
    margin-bottom:0.8rem;
    display:block;
    margin-left:0.8rem;
    padding:0 0.6rem;
    border:0.05rem solid rgba(7,17,27,0.1);
    border-radius:0.1rem;
    background-color:rgb(255,255,255);
    max-width:5.3rem;
    font-size:0.9rem;
    color:rgb(147,153,159);
    line-height:1.6rem;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.sw6>div.swiper-slide{
    height: auto;
}
.d1{
    width:100%;
    display: inline-flex;
    flex-direction:column;
}
.d1_1{
    margin:1.8rem 1.8rem 0 1.8rem;
    width:33.9rem;
    display: inline-flex;
    justify-content:space-between;
    border-bottom:0.05rem solid rgba(7,17,27,0.1);
}
.d1_1_1{
    margin-bottom:1.8rem;
    display: inline-flex;
    flex-direction:column;
}
.d1_1_1 h2{
    font-size:1.4rem;
    font-weight:normal;
    color:rgb(7,17,27);
    line-height:1.4rem;
}
.d1_1_1>div{
    margin-top:0.8rem;
    display: inline-flex;
}
.d1_1_1>div>div img{
    width:1.5rem;
    height: 1.45rem;
}
.d1_1_1>div>div img+img{
    margin-left:0.4rem;
}
.d1_1_1>div> p{
    font-size:1rem;
    color:rgb(77,85,93);
    line-height:1.8rem;
}
.d1_1_1>div> p:first-of-type{
    display:none;
}
.d1_1_1>div p:nth-of-type(2){
    margin-left:0.8rem;
}
.d1_1_1>div p:last-of-type{
    margin-left:1.2rem;
}
.d1_1_2{
    display: inline-flex;
    flex-direction:column;
}
.d1_1_2 img{
    width:2.4rem;
    height: 2.4rem;
    fill:rgb(240,20,20);
    align-self: center;
}
.d1_1_2 p{
    margin-top:0.4rem;
    font-size:1rem;
    color:rgb(77,85,93);
    line-height:1rem;
}
.d1_2{
    width:100%;
    display: inline-flex;
}
.d1_2>div{
    width:33%;
    margin-top:1.8rem;
    margin-bottom:1.8rem;
    display: inline-flex;
    flex-direction:column;
}
.d1_2>div+div{
    border-left:0.05rem solid rgba(7,17,27,0.1);
}
.d1_2>div>p{
    align-self: center;
    font-size:1rem;
    color:rgb(147,153,159);
    line-height:1rem;
}
.d1_2>div>div{
    margin-top:0.4rem;
    display: inline-flex;
    align-self: center;
}
.d1_2>div>div p{
    font-weight:200;
    color:rgb(7,17,27);
    line-height:2.4rem;
}
.d1_2>div>div p:first-child{
    font-size:2.4rem;
}
.d1_2 div p:last-child{
    font-size:1rem;
    margin-top:0.3rem;
}
.d2{
    width:100%;
    display: inline-flex;
    flex-direction:column;
}
.d2 h2,.d3 h2,.d4 h2{
    margin-top:1.8rem;
    margin-left:1.8rem;
    font-size:1.4rem;
    font-weight:normal;
    color:rgb(7,17,27);
    line-height:1.4rem;
}
.d2>p{
    margin:0.8rem 3rem 1.6rem 3rem;
    font-size:1.2rem;
    font-weight:200;
    color:rgb(240,20,20);
    line-height:2.4rem;
}
.d2>div{
    margin-left:1.8rem;
    margin-right:1.8rem;
    display: inline-flex;
    border-top:0.05rem solid rgba(7,17,27,0.1);
}
.d2>div img{
    margin:1.6rem 0.6rem 1.6rem 1.2rem;
    width:1.6rem;
    height: 1.6rem;
}
.d2>div p{
    margin-top:1.6rem;
    font-size:1.2rem;
    font-weight:200;
    color:rgb(7,17,27);
    line-height:1.6rem;
}
.d3{
    width:100%;
    display: inline-flex;
    flex-direction:column;
}
.sence.swiper-container{
    margin:1.2rem 0 1.8rem 0;
}
.sw3>img{
    width:12rem;
    height: 9rem;
}
.sw3>img:first-child{
    margin-left:1.8rem;
}
.sw3>img+img{
    margin-left:0.6rem;
}
.d4{
    width:100%;
    display: inline-flex;
    flex-direction:column;
}
.d4_1{
    display: inline-flex;
    margin:0 1.8rem;
    border-top:0.05rem solid rgba(7,17,27,0.1);
}
.d4>div:first-of-type{
    margin-top:1.2rem;
}
.d4_1 p{
    margin:1.6rem 1.2rem;
    font-size:1.2rem;
    font-weight:200;
    color:rgb(7,17,27);
    line-height:1.6rem;
}
.foot{
    width:100%;
    height:4.8rem;
    background-color:#141d27;
    opacity: 0.95;
    position:fixed;
    bottom:0;
    left: 0;
    z-index:10;
    display: inline-flex;
}
.foot:before{
    content:"";
    width:4.4rem;
    height:4.4rem;
    border-radius:50%;
    background-color:#141d27;
    position:absolute;
    bottom:1.4rem;
    left: 1.8rem;
}
.f1{
    width:4.4rem;
    height:4.4rem;
    border-radius:50%;
    background-color:rgba(255,255,255,0.1);
    position:absolute;
    left: 1.8rem;
    bottom:0.8rem;
    display: inline-flex;
    justify-content: center;
}
.f1 img{
    width:2rem;
    height:2rem;
    margin-top:1.2rem;
}
.f2{
    margin: 1.2rem 0 1.2rem 8rem;
    border-right: 1px solid rgba(255,255,255,0.1);
}
.f2 p{
    font-size:1.6rem;
    color: rgba(255,255,255,0.4);
    font-weight:bold;
    line-height:2.4rem;
    margin-right: 1.2rem;
}
.f3{
    margin: 1.2rem 0 1.2rem 1.2rem;
}
.f3 p{
    font-size:1.2rem;
    color: rgba(255,255,255,0.4);
    line-height:2.4rem;
}
.f4{
    width:10.5rem;
    height:100%;
    background-color:rgba(255,255,255,0.1);
    position:absolute;
    bottom:0;
    right: 0;
    display: inline-flex;
    flex-direction:column;
    justify-content: center;
}
.f4 p{
    font-size:1.2rem;
    color: rgba(255,255,255,0.4);
    font-weight:bold;
    line-height:2.4rem;
    margin-left: 2rem;
}
#papg2{
    width:100%;
    height: 100%;
    display:none;
}
.blur2{
    width:100%;
    height:100%;
    background: url("../img/外卖01_商品页.jpg");
    background-size: cover;
    position:absolute;
    top: 0;
    left: 0;
    filter:blur(10px);
    -webkit-filter:blur(10px);
}
.gg{
    width:100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    background-color:rgba(7,17,27,0.8);
    display: inline-flex;
    flex-direction: column;
}
.g1{
    margin-top:6.4rem;
    display: inline-flex;
    justify-content: center;
}
.g1 p{
    font-size:1.6rem;
    font-weight:bold;
    color:rgb(255,255,255);
    line-height:1.6rem;
}
.g2{
    margin-top:1.6rem;
    display: inline-flex;
    justify-content: center;
}
.g2 img{
    width:2rem;
    height:1.9rem;
    margin-right:2rem;
}
.g2 p{
    display:none;
}
.g3{
    margin-top:2.8rem;
    display: inline-flex;
    margin-left:3.6rem;
}
.g3 span{
    width:11.2rem;
    height:0.7rem;
    border-bottom:0.1rem solid rgba(255,255,255,0.2);
}
.g3 p{
    margin-left:1.2rem;
    margin-right:1.2rem;
    font-size:1.4rem;
    font-weight:bold;
    color:rgb(255,255,255);
    line-height:1.4rem
}
.g4{
    margin-top: 2.4rem;
    margin-left:4.8rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.g4 div{
    display: inline-flex;
}
.g4 div+div{
    margin-top:1.2rem;
}
.g4 img{
    width:1.6rem;
    height:1.6rem;
}
.g4 p{
    margin-left:0.6rem;
    margin-top:0.2rem;
    font-size:1.2rem;
    font-weight:200;
    color:rgb(255,255,255);
    line-height:1.2rem;
}
.g5{
    margin-top:2.4rem;
}
.g5 p{
    margin-left:4.8rem;
    margin-right:4.8rem;
    font-size:1.2rem;
    font-weight:200;
    color:rgb(255,255,255);
    line-height:2.4rem;
}
.g6{
    width:100%;
    position:absolute;
    bottom:3.2rem;
    display: inline-flex;
    justify-content: center;
}
.g6 img{
    width:3.2rem;
    height: 3.2rem;
}
#papg3{
    display:none;
}
.blur3{
    width:100%;
    height:36.25rem;
    background: url("../img/外卖01_商品页.jpg");
    background-size: cover;
    position:absolute;
    top: 0;
    left: 0;
    filter:blur(10px);
    -webkit-filter:blur(10px);
}
.top{
    width:100%;
    height:36.25rem;
    position:absolute;
    top: 0;
    left: 0;
    background-color:rgba(7,17,27,0.6);
}
.jis{
    width:100%;
    margin-top:36.25rem;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}
.j1{
    width:100%;
    height:4rem;
    background-color:#f3f5f7;
    border-bottom:0.15rem solid rgba(7,17,27,0.1);
    display: inline-flex;
    justify-content: space-between;
}
.j1 p:first-child{
    margin-left:1.8rem;
    font-size:1.4rem;
    font-weight:200;
    color:rgb(7,17,27);
    line-height:4rem;
}
.j1 p:last-child{
    margin-right:1.8rem;
    font-size:1.2rem;
    color:rgb(0,160,220);
    line-height:4rem;
}
.j2.swiper-slide{
    width:33.9rem;
    margin-left:1.8rem;
    margin-right:1.8rem;
    border-bottom:0.05rem solid rgba(7,17,27,0.1);
    display: inline-flex;
    justify-content: space-between;
}
.j2 p:first-child{
    margin:1.2rem 0;
    font-size:1.4rem;
    color:rgb(7,17,27);
    line-height:2.4rem;
}
.j2 div{
    margin:1.2rem 0;
    display: inline-flex;
}
.j2 div p:nth-of-type(1){
    margin:0;
    margin-right:1.2rem;
    font-size:1.4rem;
    font-weight:bold;
    color:rgb(240,20,20);
    line-height:2.4rem;
}
.j2 div p:nth-of-type(1):first-letter{
    font-size:1rem;
    font-weight:normal;
}
.j2 div img{
    margin:0.2rem 0;
    width:2rem;
    height:2rem;
    line-height:2.4rem;
}
.j2 div p:nth-of-type(2){
    font-size:1rem;
    color:rgb(147,153,159);
    line-height:2.4rem;
    margin:0 0.9rem;
}
.j3{
    width:100%;
    position:fixed;
    left: 0;
    bottom:0;
    display: inline-flex;
}
.j3:before{
    content:"";
    width:4.4rem;
    height:4.4rem;
    background-color:#141d27;
    border-radius:50%;
    position:absolute;
    bottom:1.4rem;
    left: 1.8rem;
}
.le{
    width:27rem;
    height:4.8rem;
    background-color:#141d27;
    display: inline-flex;
}
.le div:nth-of-type(1){
    width:4.4rem;
    height:4.4rem;
    background-color:rgb(0,160,220);
    position:absolute;
    bottom:0.8rem;
    left: 1.8rem;
    border-radius:50%;
    display: inline-flex;
    justify-content:center;
    z-index: 2;
}
.le div img{
    width:2rem;
    height:2rem;
    margin-top:1.2rem;
}
.le div:nth-of-type(2){
    height:2.4rem;
    margin-left:8rem;
    margin-top:1.2rem;
    border-right:0.05rem solid rgba(255,255,255,0.1);
    display: inline-flex;
    flex-direction:column;
    justify-content:center;
}
.le div:nth-of-type(2) p{
    font-size:1.6rem;
    color:rgb(255,255,255);
    font-weight:bold;
    line-height:1.6rem;
    margin:0 1.2rem 0 0;
}
.le p:nth-of-type(1){
    margin:1.2rem 0 0 1.2rem;
    font-size:1.2rem;
    color: rgba(255,255,255,0.4);
    line-height:2.4rem;
}
.ri{
    width:10.5rem;
    height:4.8rem;
    background-color:rgb(43,51,59);
    display: inline-flex;
    justify-content:center;
}
.ri p{
    margin-top:1.2rem;
    font-size:1.2rem;
    color: rgba(255,255,255,0.4);
    font-weight:bold;
    line-height:2.4rem;
}
#papg4{
    display:none;
}
.return{
    width:2rem;
    height: 2rem;
    position:absolute;
    left: 2rem;
    top: 2rem;
}
.bigima{
    width:100%;
    height:35rem;
}
.ban1{
    width:100%;
    display: inline-flex;
    flex-direction:column;
}
.ban1_1{
    margin:1.8rem 0 0.8rem 1.8rem;
    display: inline-flex;
}
.ban1_1 p{
    font-size:1.4rem;
    font-weight:bold;
    color:rgb(7,17,27);
    line-height:1.4rem;
}
.ban1_2{
    margin-left:1.8rem;
    display: inline-flex;
}
.ban1_2 p{
    font-size:1rem;
    color:rgb(147,153,159);
    line-height:1rem;
}
.ban1_2 p:last-child{
    margin-left:1.2rem;
}
.ban1_3{
    margin:1.8rem;
    display: inline-flex;
    justify-content:space-between;
}
.ban1_3 div:first-child{
    display: inline-flex;
}
.ban1_3 div:first-child p:first-child{
    font-size:1.4rem;
    color:rgb(240,20,20);
    line-height:2.4rem;
    font-weight:bold;
}
.ban1_3 div:first-child p:first-child:first-letter{
    font-size:1rem;
    font-weight:normal;
}
.ban1_3 div:first-child p:nth-child(2){
    margin-left:0.8rem;
    text-decoration: line-through;
    font-size:1rem;
    color:rgb(147,153,159);
    line-height:2.4rem;
    font-weight:bold;
}
.ban1_3 div:first-child p:last-child:first-letter{
    font-weight:normal;
}
.ban1_3 div:last-child{
    width:7.4rem;
    height:2.4rem;
    background-color:rgb(0,160,220);
    border-radius:1.2rem;
    display: inline-flex;
    justify-content:center;
}
.ban1_3 div:last-child p{
    font-size:1rem;
    color:rgb(255,255,255);
    line-height:1.2rem;
    margin-top:0.6rem;
}
.banner-bla{
    width:100%;
    height:1.6rem;
    background-color:#f3f5f7;
    border-top: 0.1rem solid rgba(7,17,27,0.1);
    border-bottom: 0.1rem solid rgba(7,17,27,0.1);
}
.ban2{
    width:100%;
    display: inline-flex;
    flex-direction:column;
}
.ban2_1{
    margin:1.8rem 0 0 1.8rem;
    display: inline-flex;
}
.ban2_1 p{
    font-size:1.4rem;
    font-weight:bold;
    color:rgb(7,17,27);
    line-height:1.4rem;
}
.ban2_2{
    margin:0.6rem 2.6rem 1.8rem 2.6rem;
    display: inline-flex;
}
.ban2_2 p{
    font-size:1.2rem;
    font-weight:200;
    color:rgb(77,85,93);
    line-height:2.4rem;
}
.ban3{
    width:100%;
    display: inline-flex;
    flex-direction:column;
    justify-content:space-between;
    border-bottom:0.1rem solid rgba(7,17,27,0.1);
}
.ban3_1{
    margin:1.8rem 1.8rem 0 1.8rem;
    display: inline-flex;
    flex-direction:column;
    border-bottom:0.05rem solid rgba(7,17,27,0.1);
}
.ban3_1 > p{
    font-size:1.4rem;
    font-weight:bold;
    color:rgb(7,17,27);
    line-height:1.4rem;
}
.ban3_1_1{
    margin:1.8rem 0 1.8rem 0;
    display: inline-flex;
}
.ban3_1_1 div:first-child{
    border-radius:0.1rem;
    background-color:rgb(0,160,220);
    display: inline-flex;
    justify-content:spce-between;
}
.ban3_1_1 div:first-child p:first-child{
    font-size:1.2rem;
    color:rgb(255,255,255);
    line-height:1.6rem;
    margin:0.8rem 0 0.8rem 1.2rem;
}
.ban3_1_1 div:first-child p:last-child{
    font-size:0.8rem;
    color:rgb(255,255,255);
    line-height:1.6rem;
    margin:0.8rem 1.2rem 0.8rem 0;
}
.ban3_1_1 div:nth-child(2){
    margin-left:0.8rem;
    border-radius:0.1rem;
    background-color:rgba(0,160,220,0.2);
    display: inline-flex;
    justify-content:spce-between;
}
.ban3_1_1 div:nth-child(2) p:first-child{
    font-size:1.2rem;
    color:rgb(77,85,93);
    line-height:1.6rem;
    margin:0.8rem 0 0.8rem 1.2rem;
}
.ban3_1_1 div:nth-child(2) p:last-child{
    font-size:0.8rem;
    color:rgb(77,85,93);
    line-height:1.6rem;
    margin:0.8rem 1.2rem 0.8rem 0;
}
.ban3_1_1 div:last-child{
    margin-left:0.8rem;
    border-radius:0.1rem;
    background-color:rgba(77,85,93,0.2);
    display: inline-flex;
    justify-content:spce-between;
}
.ban3_1_1 div:last-child p:first-child{
    font-size:1.2rem;
    color:rgb(77,85,93);
    line-height:1.6rem;
    margin:0.8rem 0 0.8rem 1.2rem;
}
.ban3_1_1 div:last-child p:last-child{
    font-size:0.8rem;
    color:rgb(77,85,93);
    line-height:1.6rem;
    margin:0.8rem 1.2rem 0.8rem 0;
}
.ban3_2{
    margin:1.2rem 0 1.2rem 1.8rem;
    display: inline-flex;
}
.ban3_2 img{
    width:2.4rem;
    height:2.4rem;
}
.ban3_2 p{
    margin-left:0.4rem;
    font-size:1.2rem;
    color:rgb(147,153,159);
    line-height:2.4rem;
}
.ban4{
    width:100%;
    margin-bottom:4.8rem;
    display: inline-flex;
    flex-direction:column;
}
.ban4_1{
    width:auto;
    height:auto;
    margin:1.6rem 1.8rem 0 1.8rem;
    border-bottom:0.05rem solid rgba(7,17,27,0.1);
    display: inline-flex;
    justify-content:space-between;
}
.ban4_1_1{
    display: inline-flex;
    flex-direction:column;
}
.ban4_1_1>p{
    font-size:1rem;
    color:rgb(147,153,159);
    line-height:1.2rem;
}
.ban4_1_1 div{
    margin:0.6rem 0 1.6rem 0;
    display: inline-flex;
}
.ban4_1_1 div img{
    width:1.2rem;
    height:2.4rem
}
.ban4_1_1 div p{
    margin-left:0.4rem;
    margin-top:0.4rem;
    font-size:1.2rem;
    color:rgb(7,17,27);
    line-height:1.6rem;
}
.ban4_1_2{
    display: inline-flex;
}
.ban4_1_2 p{
    font-size:1rem;
    color:rgb(147,153,159);
    line-height:1.2rem;
}
.ban4_1_2 img{
    margin-left:0.6rem;
    width:1.2rem;
    height:1.2rem;
}