<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="index.css">
</head>

<body ng-app="myApp" ng-controller="mycro">
  <div class="page-top">
    <div class="page-content">
      <h2>任务计划列表</h2>
    </div>
  </div>
  <div class="main">
    <h3 class="big-title">添加任务：</h3>
    <input placeholder="例如：吃饭睡觉打豆豆；    提示：+回车即可添加任务" class="task-input" type="text" ng-model="addtext" ng-keyup="add($event)" />
    <ul class="task-count">
      <li>{{num()}}个任务未完成</li>
      <li class="action">
        <a ng-class="{'active':action==1}" href="#" ng-click="allshow()">所有任务</a>
        <a ng-class="{'active':action==2}" href="#" ng-click="uncompshow()">未完成的任务</a>
        <a ng-class="{'active':action==3}" href="#" ng-click="compshow()">完成的任务</a>
      </li>
    </ul>
    <h3 class="big-title">任务列表：</h3>
    <div class="tasks">

      <span class="no-task-tip" ng-class="{hide:tasknum>=1}">还没有添加任何任务</span>
      <ul class="todo-list">
        <li class="todo {{x.cls}}" ng-repeat="x in list" ng-show="x.isShow">
          <div class="view">
            <input class="toggle" type="checkbox" ng-model="x.ischeck" ng-click="check($index)" />
            <label ng-dblclick="edit($index)">{{x.text}}</label>
            <button class="destroy" ng-click="remove($index)"></button>
          </div>
          <input class="edit" type="text" ng-model="edittext" ng-blur="noedit($index,edittext)" />
        </li>
      </ul>
    </div>
  </div>
  <script src="angular.min.js"></script>
  <script>
    // var list = [{
    //   text:"vue学习计划1",
    //   cls:"",
    //   ischeck:false,
    //   isShow:true
    // },{
    //   text:"vue学习计划2",
    //   cls:"",
    //   ischeck:false,
    //   isShow:true
    // }]
    const app = angular.module('myApp',[])
    app.controller('mycro',($scope)=>{
      $scope.list = []
      $scope.addtext = ""
      $scope.action = 1
      $scope.add = function(e){
        if(e.keyCode==13 || e.keyCode==100){
          if($scope.addtext!=""){
            $scope.list.push({
              text:$scope.addtext,
              cls:"",
              ischeck:false,
              isShow:true
            })
          }else{
            alert("请输入任务名！")
          }
          $scope.tasknum = $scope.list.length
          $scope.addtext=""
        }
      }
      $scope.check = function(index){
        if($scope.list[index].ischeck){
          $scope.list[index].cls="completed"
        }else{
          $scope.list[index].cls=""
        }
      }
      $scope.edit = function(index){
        if(!$scope.list[index].ischeck){
          $scope.edittext = $scope.list[index].text
          $scope.list[index].cls="editing"
        }
      }
      $scope.noedit = function(index,text){
        $scope.list[index].text = text
        $scope.list[index].cls = ""
      }
      $scope.remove = function(index){
        $scope.list.splice(index,1)
        $scope.tasknum = $scope.list.length
      }
      $scope.num = function(){
        var num = 0
        for(let i=0;i<$scope.list.length;i++){
          if(!$scope.list[i].ischeck){
            num++
          }
        }
        return num
      }
      $scope.allshow = function(){
        $scope.action = 1
        for(let i=0;i<$scope.list.length;i++){
          $scope.list[i].isShow = true
        }
      }
      $scope.uncompshow = function(){
        $scope.action = 2
        for(let i=0;i<$scope.list.length;i++){
          if(!$scope.list[i].ischeck){
            $scope.list[i].isShow = true
          }else{
            $scope.list[i].isShow = false
          }
        }
      }
      $scope.compshow = function(){
        $scope.action = 3
        for(let i=0;i<$scope.list.length;i++){
          if($scope.list[i].ischeck){
            $scope.list[i].isShow = true
          }else{
            $scope.list[i].isShow = false
          }
        }
      }
    })
  </script>
</body>

</html>
